  <form  action="/results" method="post">
    <div>
	    <input type="text" class="form-control" name="start_square" placeholder="Enter Start Square" autofocus="autofocus"></textarea>
	    <input type="text" name="end_square" placeholder="Enter End Square" autofocus="autofocus"></textarea>
	    <input type="submit">
	  </div>
  </form>