    <!DOCTYPE html>
<html>
  <head>
    <title>A Knight's API</title>
  </head>

  <body>
    <div class="container">
    	<%= flash[:error] %>
		  <form role="form" action="/results" method="post">
		    <div>
			    <input type="text" name="start_square" placeholder="Enter Start Square" autofocus="autofocus"></textarea>
			    <input type="text" name="end_square" placeholder="Enter End Square" autofocus="autofocus"></textarea>
			    <input type="submit">
			  </div>
		  </form>
    </div>
  </body>